html{
	background-image: url(IMG_20160306_094540.jpg);
	background-position: right;
	background-size: 75%, 75%;
	background-repeat: no-repeat;
	background-color: #000000;
}

.links a{
	text-decoration: none;
	color: #000000;
	font-size: 30pt;
	font-weight: 800;
	color: #FFFFFF;

}

.links a:hover{
	color: #c0392b;
}

.links li{
	padding-bottom: 15%;
}

ul{
	list-style: none;
	float: left;
	margin-top: 15%;

	padding-right: 10%;
}


@media screen and (max-width: 480px) {

html{
	background-image: url(IMG_20160306_094540.jpg);
	background-position: center;
	background-size: 75%, 75%;
	background-repeat: no-repeat;
	margin-top: 10%;
	margin-bottom: 5%;
	background-color: #000000;
}

.links a{
	text-decoration: none;
	color: #3498db;
	font-size: 35pt;
	font-weight: 800;

}

.links a:hover{
	color: #c0392b;
}

.links li{
	padding-bottom: 15%;
}

ul{
	list-style: none;
	float: right;
	margin-top: 15%;

	padding-right: 10%;
}


}
