 
body{
	background-image: url(http://upload.wikimedia.org/wikipedia/en/7/7e/Michigan_tech_campus.JPG);
	background-size: 1700px;
	background-repeat: no-repeat;
}

 .nav ul{
 	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
 }

 .nav{
 	text-align: center;
 	
 	background-color: gold;
 }

 .nav li{
 	padding-right: 20px;
 	display: inline;
	text-align: center;

}

.nav a:link, .nav a:visited{
    width: 120px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
}

.welcome h1{
	font-family: sans-serif;
	text-align: center;
}

.welcome img{
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
}

.about h2{
color: black;
background-color: gold;
padding-left: 200px
}

.about p{
	padding-right: 200px;
	color: white;
	padding-left: 200px;
}

.student h2{
	background-color: gold;
	color: black;
	padding-left:200px;
}

.student ul{
	padding-left: 200px;
	list-style-type: none;
}

.student li{
	background-color: gold;
	background-size: 20px;
	display: list-item;
	color: black;
}

iframe{
	height:900px;
	width:100%;
}

.p1 h1, .p1 h3, .p3 h1 , .p3 h3, .p5 h1, .p5 h3{
	text-align: right;
	padding-right: 180px;
	background-color: gold;
}

.p2 h1, .p2 h3, .p4 h1, .p4 h3, .p1 p, .p2 p, .p3 p, .p4 p, .p5 p, .p6 p, .p6 h1, .p6 h3 {
	padding-left:  180px;
	color: white;
}

.p1 p, .p4 p, .p5 p, .p6 p{
	background-color: black;
	padding-left: 180px;
	padding-right: 180px;
	font-size: 16pt;
}

.p2 p, .p3 p, .p6 p {
	padding-left: 180px;
	padding-right: 180px;
	font-size: 16pt;
}

.p1 h1, .p3 h1, .p5 h1, .p6 h1{
	color: black;
}

.p1, .p2, .p3, .p4, .p5, .p6{
	padding-top: 20px;
}

.p2 h1, .p4 h1, .p2 h3, .p4 h3{
	background-color: gold;
	color:black;
}

.p2 h3, .p2 p, .p3 p, .p4 p {
	background-color: black;
	color:white;
}

.p6{
	background-color: gold;
}



